{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block home %}
<div class="container cont-1 mt-5  ">
    <div class=" row justify-content-center d-flex " >
    <div class="col-6 "><img src="{% static 'images/cha_chill.jpg' %}" alt="cha and chill img">
        <h5 class="mt-4 fst-italic " >Feel The best tea with us, with your beloved person</h5></div>
    <div class="col-6 align-content-around ">
        <h1 class="mb-5">Welcome to "Cha And Chill"</h1>
        <p>Cha & Chill is a popular, budget-friendly fast-food and beverage chain in Bangladesh, famous for its tea, shingaras (samosas), and signature spicy sauces. Founded in 2021, it operates multiple branches across Dhaka (like Kolabagan, Uttara, Dhanmondi, and Mirpur). It serves as a popular, casual hangout spot for friends and families.While it doesn't have an official, standalone Wikipedia page, information about its menu, locations, and reviews is widely available online.Here is what you need to know about Cha & Chill:☕ Menu HighlightsGorom Cha (Hot Tea): Traditional spiced and milk teas starting at around Tk 15.Signature Shingaras: Known for both classic options and their famous, uniquely flavored "Jhingalala Shingara" (like coconut-flavored shomuchas).Combos: Cost-effective party and friend combos (e.g., 20 shingaras starting around Tk 350).Sauces: The secret-recipe spicy dipping sauce is frequently cited by locals as the main draw</p></div>
    
</div>
</div>
{% endblock home %}