{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block about_us %}

<div
    class="container bg-danger-subtle  "
>
   
<div class="row text-center justify-content-center ">
     <img  class=" h-50 w-50 col-6 " src="{% static 'images/order.jpg' %}" alt="This is order img">
    <div class="col-6 text-center ">
        <h1 class="m-4">About US</h1>
        <h6>We're available on FoodPanda and Pathao Food</h6>
        <p class=" p-5" >
            
Satisfy your cravings for the delectable Cha and savory Shingara from Cha & Chill with our convenient online ordering option. With Foodpanda and Pathao Food as our trusted delivery partners, you can effortlessly place your order from the comfort of your home. Simply browse our menu, customize your selections, and proceed to checkout. Get ready to indulge in the perfect combination of Cha and Chill delivered straight to your doorstep. Order online now and elevate your hangout experience with friends and family.
        </p>
    </div>
</div>

</div>
{% endblock about_us %}